[Unit]
Description=LAST unit api server

[Service]
User=ocs
WorkingDirectory=/home/ocs/python/LAST_next_generation
ExecStart=./bin/last-unit-server start
ExecStop=./bin/last-unit-server stop
Restart=always

[Install]
WantedBy=multi-user.target
