[Unit]
Description=LAST pipeline service 2 (of 2)

[Service]
User=ocs
WorkingDirectory=/home/ocs/matlab
ExecStart=/usr/local/share/last-tool/bin/last-pipeline-service start 2
ExecStop=/usr/local/share/last-tool/bin/last-pipeline-service stop 2
Restart=always
Environment="SYSTEMD=1"
WatchdogSec=3600
NotifyAccess=all
Type=forking

[Install]
WantedBy=multi-user.target
