[Unit]
Description=LAST pipeline service 1 (of 2)

[Service]
User=ocs
WorkingDirectory=/home/ocs/matlab
ExecStart=/usr/local/share/last-tool/bin/last-pipeline start 1
ExecStop=/usr/local/share/last-tool/bin/last-pipeline stop 1
Restart=always
Environment="SYSTEMD=1"
WatchdogSec=1800
NotifyAccess=all
Type=forking

[Install]
WantedBy=multi-user.target
