[Unit]
Description=LAST enp67s0 speed watcher

[Service]
User=root
WorkingDirectory=/home/ocs/matlab
ExecStart=/usr/local/share/last-tool/bin/last-ether-speed-watcher start
ExecStop=pkill -f obs.MeteoLogger
Restart=always

[Install]
WantedBy=multi-user.target
