[Unit]
Description=LAST image synchronization watcher

[Service]
User=ocs
WorkingDirectory=/home/ocs/matlab
ExecStart=/usr/local/share/last-tool/bin/last-rsync-watcher start
ExecStop=pkill -f last.rsync.watcher
Restart=always

[Install]
WantedBy=multi-user.target
