[Unit]
Description=LAST pipeline service

[Service]
User=ocs
WorkingDirectory=/home/ocs/matlab
ExecStart=/usr/local/share/last-tool/bin/last-pipeline start
ExecStop=pkill -f last.pipeline.runPipeLAST
Restart=always

[Install]
WantedBy=multi-user.target
