Section: admin
Priority: optional
Maintainer: Weizmann Astrophysics Software <astrosoft@weizmann.ac.il>
Package: last-tool
Architecture: all
Version: 1.0
Description: A management tool for the LAST project
 last-tool is a tool for checking if the current software installation complies with
 the LAST software installation policy.  It can also enforce the above named policy.
